---
layout: default
title: Ace on Tech
active: index
---

<div class="jumbotron jumbotron-aot">
    <div class="text-center">
        <img src="/assets/images/logotype.png" class="img-responsive logotype-aot" alt="Alex Manarpies a.k.a. aceontech"/>
    </div>
</div>

<div id="home" class="container content-aot content-blog">

    {% for post in site.posts %}

    {% if forloop.index < 5 %}
    <div class="row blog-excerpt">
        <div class="col-xs-2 blog-image">
            <img src="{{ site.url }}/assets/images/posts/{{ post.image }}"/>
        </div>
        <div class="col-xs-10">
            <h2>{{ post.title }}</h2>
            <p class="text-muted blog-post-date">{{ post.date | date_to_string }}</p>
            {{ post.excerpt }}
            <p>
                <a href="{{ post.url }}" class="btn btn-primary btn-xs">Read more</a>
                <a href="{{ post.url }}#comments" class="btn btn-info btn-xs">No comments</a>
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

    <p class="text-center">
        <a href="/posts.html" class="btn btn-primary btn-lg">More Blog Posts</a>
    </p>
</div>