    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Currently full-time employed as an iOS developer at<br/> a creative agency in Antwerp, Belgium.</p>
				<p>I also write about techy topics from time to time on <a href="http://blog.aceontech.com">my blog</a> and on <a href="https://medium.com/@aceontech">Medium</a>.</p>
				<p>In my down-time, I like to <a href="https://www.goodreads.com/user/show/9403898-alex">read</a> and stay fit.</p>
            </div>
        </div>
    </section>