/****************************************
 * Page
 ****************************************/

html, body {
    height: 100%;
}

body {
    background-color: #f5f1e8;
    font-family: 'abeezeeregular', 'Lucida Grande', Arial, Verdana, sans-serif;
    color: #707070;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'amaranthregular', sans-serif;
    color: #b82d1d;
}

a, a:link, a:visited, a:hover, a:active {
    color: #e03724;
}

#wrap {
    min-height: 100%;
}

/****************************************
 * Header
 ****************************************/

.jumbotron-aot {
    color: #f5f1e8;
    text-shadow: 1px 1px #9e2719;
}

.logotype-aot {
    max-width: 50%;
    height: 70%;
}

/****************************************
 * Nav bar
 ****************************************/

.navbar-aot {
    font-family: 'amaranthregular', sans-serif;
    background: #b82d1d none;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-aot .navbar-brand {
    color: #f5f1e8;
}

.navbar-aot .navbar-brand .logo-aot {
}

.navbar-aot .navbar-nav > li > a {
    text-transform: uppercase;
    color: #f5f1e8;
    text-shadow: none;
}

.navbar-aot .navbar-nav > li > a:hover {
    background: #c33120 none;
    color: #f5f1e8;
}

.navbar-aot .navbar-nav > .active > a {
    font-family: 'amaranthbold', sans-serif;
    background: #c33120 none;
    color: white;
    font-weight: bold;
}

.navbar-aot .navbar-toggle {
    border-color: #e03724;
}

.navbar-aot .navbar-toggle:hover {
    background-color: #c33120;
}

.navbar-aot .navbar-toggle .icon-bar {
    background-color: #f5f1e8;
}

.jumbotron-aot {
    background-color: #c33120;
}

.jumbotron-deco {
}

/****************************************
 * Content
 ****************************************/

.content-aot h1 {
    text-align: center;
}

/****************************************
 * Buttons
 ****************************************/

.btn {
    font-family: 'amaranthregular', sans-serif;
    text-transform: uppercase;
}

.btn-primary {
    background: none;
    border-color: #e03724;
    color: #e03724;
    box-shadow: none;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: #e03724;
    border-color: #e03724;
    text-shadow: none;
}

.btn-info {
    background: none;
    border-color: #707070;
    color: #707070 !important;
    box-shadow: none;
    text-shadow: none;
}

.btn-info:hover {
    background-color: #707070;
    border-color: #707070;
    text-shadow: none;
    color: #ffffff !important;
}

/****************************************
 * Blog
 ***************************************/

.content-blog h2 {
    color: #c33120;
    font-family: 'amaranthbold', sans-serif;
    font-weight: bold;
}

.blog-image {
    padding-top: 1em;
}

@media (max-width: 767px) {
    .blog-image {
        padding-top: 2em;
    }
}

.blog-image img {
    width: 100%;
    height: 100%;
    border-radius: 40em;
}

.blog-excerpt {
    margin-bottom: 2em;
}

.blog-post-date {
    text-transform: uppercase;
}

/****************************************
 * Footer
 ****************************************/

footer {
    background-color: #292929;
    text-shadow: 1px 1px black;

    margin-top: 2em;

    padding-top: 3em;
    padding-bottom: 4em;
}
