---
layout: default
---

<div class="jumbotron jumbotron-aot">
    <div class="text-center">
        <h1>{{ page.title }}</h1>
    </div>
</div>

<div id="blogpost" class="container content-aot content-blog">
    <div class="row blog-excerpt">
        <div class="col-md-2 blog-image text-center">
            <img src="{{ site.url }}/assets/images/posts/{{ page.image }}"/>
            <p class="text-muted blog-post-date">{{ page.date | date_to_string }}</p>
            <p><a href="{{ post.url }}#comments" class="btn btn-info btn-xs">No comments</a></p>
        </div>
        <div class="col-md-10">
            {{ content }}
        </div>
    </div>
</div>
